.movie-list{

  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* justify-content: space-between; */

}

.movie-list h2{
  background-color: wheat;
  color: tomato;
}


.movie-display{
  background-color: black;
  color: white;
}

.movie-display h1{
  text-align: center;

}